@import '../../sass/main.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem;

    @media only screen and (max-width: 56.25em) {
        flex-direction: column-reverse;
        align-items: center;
        padding: 4rem;
    }

    @media only screen and (max-width: 31.25em) {
        padding: 3rem;
    }


    &__left-section {
        padding-top: 5rem;

        @media only screen and (max-width: 56.25em) {
            text-align: center;
        }
    }

    &__title {
        font-size: 4rem;
        font-weight: 500;
        color: hsl(229, 31%, 21%);
        max-width: 40rem;
        margin-bottom: 2rem;
    }
    
    &__paragraph {
        @include paragraph-basic;
        text-align: unset;
        margin-bottom: 2rem;
        max-width: 40rem;
        line-height: 1.5;
    }


    &__buttons {
        display: flex;
        grid-gap: 1.5rem;
        align-items: center;

        @media only screen and (max-width: 56.25em) {
            justify-content: center;
        }
    }


    &__right-section {
        max-width: 45rem;
    }

    &__image {
        width: 100%;
    }
}