@import '../../sass/main.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem;


    &__left-section {
        padding-top: 5rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 500;
        color: hsl(229, 31%, 21%);
        max-width: 40rem;
        margin-bottom: 2rem;
    }
    
    &__paragraph {
        @include paragraph-basic;
        text-align: unset;
        margin-bottom: 2rem;
        max-width: 40rem;
        line-height: 1.5;
    }


    &__buttons {
        display: flex;
        grid-gap: 1.5rem;
        align-items: center;
    }


    &__right-section {
        max-width: 45rem;
        width: 100%
    }

    &__image {
        width: 450px;
        height: 360px;
    }
}