@import '../../sass/main.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
        padding: 0 2rem;
    }


    &__paragraph {
        @include paragraph-basic;
        max-width: 45rem;
    }   


    &__container {
        padding: 0 6rem;
        display: flex;
        grid-gap: 3rem;

        @media only screen and (max-width: 56.25em) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__left-section{
        max-width: 500rem;
        width: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    &__image {
        max-width: 480px;
        max-height: 280px;
        width: 100%;
    }

    &__right-section{
        padding-top: 6rem;

        &-paragraph {
            @include paragraph-basic;
            text-align: unset;
            max-width: 62rem;
            line-height: 1.6;
            margin-bottom: 3rem;
        }

        @media only screen and (max-width: 56.25em) {
            padding: 0;
        }
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.tab {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    cursor: pointer;

    @media only screen and (max-width: 43.75em) {
        flex-direction: column;
    }


    &__title {
        all: unset;
        padding: 2rem 5rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: hsl(229, 31%, 21%);
        opacity: .9;

        &.active {
            border-bottom: 3.5px solid hsl(0, 94%, 66%);
        }
    }
}   