.flex-basic {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.footer {
    background-color: hsl(229, 31%, 21%);
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 43.75em) {
        flex-direction: column;
        text-align: center;
        padding: 5rem;
    }



    &__container {
        @extend .flex-basic;
        grid-gap: 5rem;

        @media only screen and (max-width: 43.75em) {
            flex-direction: column;
            grid-gap: 3rem;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 3rem;

        @media only screen and (max-width: 43.75em) {
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }

    &__item {
        list-style: none; 
    }

    &__links {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        color: hsl(229, 8%, 60%);

        @media only screen and (max-width: 43.75em) {
            color: #fff;
            font-weight: 400;
            letter-spacing: .1rem;
            font-size: 1.4rem;
        }
    }

    &__icons {
        @extend .flex-basic;
        grid-gap: 2.5rem;
    }

    &__icon {
        width: 15px;
        height: 15px;

        @media only screen and (max-width: 43.75em) {
            width: 25px;
            height: 25px;
        }
    }
}